<!DOCTYPE html>
<html>
	<head lang="en">
    	<meta charset="UTF-8">
		<title>New Sandwich ideas!</title>
	    <link href="/static/css/style.css" rel="stylesheet"/>
	</head>

	<body>
<textarea id='hiddenMenu' class='sparql' style='width: 100%; display: none' rows='10'>
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
SELECT distinct ?class ?typeOf WHERE {
  	?typeOf rdf:type ?class .
} ORDER BY ?class
</textarea>
		<nav>
			<ul>
				<li>
					<a href="#home">Home</a>
				</lu>
				<li class="sub">
					<a href="#aboutProgram">About the program</a>
					<ul>
						<li><a href="#usingProgram">Using the program</a></li>
						<li><a href="#addingProgram">Adding to the program</a></li>
					</ul>
				</li>
				<li class="sub">
					<a href="#gettingData">Data</a>
					<ul>
						<li><a class="linkgetData">Download the Data</a></li>
					</ul>
				</li>
				<li id="linktargetMenu" class="sub">Generated Food</li>
				<li id="linktargetMenu2" class="sub">Generated Food</li>
			</ul>
		</nav>
		<div class="container">
			<div class='row' id="titleRow">
				<div class='col-lg-12'>
					<a class="aname" name="home">
						<h1>Welcome to the SW2015 Sandwich Generator Server</h1>
						<!--<p>Our server is running at <code>{{ url_for('first_page', _external=True) }}</code></p>-->
					</a>
				</div>
			</div>
			<div class='row'>
				<h2><a name="aboutProgram">About the Program</a></h2>
				<p>This program is meant to demonstrate an online sandwich generator by using SPARQL queries. My ontology focussed mainly on new sandwich ideas where for example new kinds of meat also give an opportunity for a (maybe) new amazing sandwich.</p>
				<h3><a name="usingProgram">Using the Program</a></h3>
				<p>The menu is an example of the datausage with and without reasoning. The first menu usages reasoning and gets results for all inferences. SaltedPork which is equivalent to Ham is considered Ham and has all the properties of this. The second menu doesn't have this inference which means that all the subclasses and individuals of SaltedPork aren't considered Ham. For a good overview one should look at all the individuals and subclasses of Thing (the toplevel class in the ontology, between the two menus there is a big differences in the amount of submembers.</p>
				<h3><a name="addingProgram">Adding to the Program</a></h3>
				<p>You can expand my ontology by adding missing data in RDF format. An example syntax is shown.<textarea id="addToStoreText" placeholder="Insert in format: &lt;http://www.example.org/A&gt;&lt;http://www.example.org/B&gt;&lt;http://www.example.org/C&gt; ."/></textarea><a class="buttonData" id="addToStoreLink">Add</a></p>
				<div id="addToStoreResp"</div>
				<h2><a name="gettingData"></a>Get the data</h2>
				<p>You can query my ontology.</p>
				<p><input type="checkbox" id="checkinf">With reasoning.</p>
				<div id="queryResult"><i>Server Response</i></div>
<textarea id='getData1'>
select ?a ?b ?c 
where { 
	?a ?b ?c
}				
</textarea><a id="runcustomquery" class="buttonData">Run Query</a>			
				Because everybody should be able to reuse my data feel free to download the ontology in JSON format. RDF format is currently not working.<a class="linkgetData buttonData">GetData (JSON)</a>
<textarea id='getData' style="display: none;">
select ?a ?b ?c 
where { 
	?a ?b ?c
}
</textarea>
			</div>
		</div>
		<script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
		<script src='{{ url_for("static", filename="js/assignment.js") }}' type='text/javascript'></script>
	</body>
</head>
